<html>
<head>
	<meta charset="utf-8">
	<title>Restaurant Menu</title>

	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Raleway" rel="stylesheet">  

	<!-- Bootstrap -->
	<link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<!-- Custom -->
	<link rel="stylesheet" type="text/css" href="style.css">

	<script src="node_modules/angular/angular.min.js"></script>
	<script src="index.js"></script>
	<script src="restaurantMenu.js"></script>

</head>
<body ng-app="myApp">

	<section class="rc-title">
		<div class="container main-title text-center">
			<h1>
				Restaurant menu creator
				<div class="subtitle">by Revolution</div>
			</h1>
		</div>
	</section>
	
	<section class="rc-composer">
		<div ng-controller="MainCtrl as ctrl" class="container">
			<div class="col-md-8 col-md-offset-2">

		  		<restaurant-menu menu="ctrl.menu"></restaurant-menu>

		  		<div class="main-buttons">
		  			<button class="btn btn-large btn-success" ng-click="ctrl.save()">
		  				<span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
		  				Save
		  			</button>
		  			<button class="btn btn-large btn-danger" ng-click="ctrl.reset()">
		  				<span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
		  				Reset
		  			</button>
		  		</div>
			</div>
		</div>
	</section>

</body>
</html>