<div class="legend">
	<strong>N</strong> - New,
	<strong>K</strong> - Kids Favourite,
	<strong>V</strong> - Vegetarian,
	<strong>GF</strong> - Gluten Free,
	<strong>E</strong> - Extra
</div>

<form name="composerForm">
	<div class="rc-name">
		<h2><input type="text" class="rc-input" placeholder="Menu name" ng-model="$ctrl.menu.name"></h2>
	</div>

	<div class="rc-category" ng-repeat="category in $ctrl.menu.items track by $index">
		<div class="rc-header rc-row">
			<span class="glyphicon rc-toggle rc-row-btn" aria-hidden="true" ng-click="$ctrl.hideChild[category.id] = !$ctrl.hideChild[category.id]" ng-class="{'glyphicon-chevron-right': $ctrl.hideChild[category.id],'glyphicon-chevron-down': !$ctrl.hideChild[category.id]}"></span>
			<span class="rc-category-name rc-input-container">
				<input type="text" class="rc-input" placeholder="Category name" ng-model="category.name">
			</span>
			<span class="rc-move">
				<span class="glyphicon glyphicon-triangle-top rc-up rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('up', $ctrl.menu, $index)" ng-class="{'disabled': $first}"></span>
				<span class="glyphicon glyphicon-triangle-bottom rc-down rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('down', $ctrl.menu, $index)" ng-class="{'disabled': $last}"></span>
			</span>
			<span class="glyphicon glyphicon-remove rc-delete rc-row-btn" aria-hidden="true" ng-click="$ctrl.removeRow($ctrl.menu, $index)"></span>
		</div>

		<div class="rc-positions" ng-hide="$ctrl.hideChild[category.id]">
			<div class="rc-position" ng-repeat="position in category.items track by $index">
				<div class="rc-header">
					<span class="glyphicon glyphicon-chevron-down rc-toggle rc-row-btn" aria-hidden="true" ng-click="hideChild[position] = !hideChild[position]" ng-class="{'glyphicon-chevron-right': hideChild[position],'glyphicon-chevron-down': !hideChild[position]}"></span>
					<span class="rc-position-name rc-input-container">
						<input type="text" class="rc-input" placeholder="Position name" ng-model="position.name">
					</span>
					<span class="rc-move">
						<span class="glyphicon glyphicon-triangle-top rc-up rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('up', category, $index)" ng-class="{'disabled': $first}"></span>
						<span class="glyphicon glyphicon-triangle-bottom rc-down rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('down', category, $index)" ng-class="{'disabled': $last}"></span>
					</span>
					<span class="glyphicon glyphicon-remove rc-delete rc-row-btn" aria-hidden="true" ng-click="$ctrl.removeRow(category, $index)"></span>
				</div>
				<div class="rc-options" ng-hide="hideChild[position]">
					<div class="rc-option" ng-repeat="option in position.items track by $index">
						<div class="rc-header">
							<span class="glyphicon glyphicon-chevron-down rc-toggle rc-row-btn" aria-hidden="true" ng-click="hideChildOption[$index] = !hideChildOption[$index]" ng-class="{'glyphicon-chevron-right': hideChildOption[$index],'glyphicon-chevron-down': !hideChildOption[$index]}"></span>
							<span class="rc-option-name rc-input-container">
								<input type="text" class="rc-input" placeholder="Option name" ng-model="option.name">
							</span>
							<span class="rc-move">
								<span class="glyphicon glyphicon-triangle-top rc-up rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('up', position, $index)" ng-class="{'disabled': $first}"></span>
								<span class="glyphicon glyphicon-triangle-bottom rc-down rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('down', position, $index)" ng-class="{'disabled': $last}"></span>
							</span>
							<span class="rc-info">
								<div class="checkbox">
								  <label><input type="checkbox" ng-model="option.isNew">N</label>
								  <label><input type="checkbox" ng-model="option.isKidsFavourite">K</label>
								  <label><input type="checkbox" ng-model="option.isVegetarian">V</label>
								  <label><input type="checkbox" ng-model="option.isGlutenFree">GF</label>
								  <label><input type="checkbox" ng-model="option.isExtra">E</label>
								</div>
							</span>
							<span class="glyphicon glyphicon-remove rc-delete rc-row-btn" aria-hidden="true" ng-click="$ctrl.removeRow(position, $index)"></span>
						</div>
						<div class="rc-option-prices" ng-hide="hideChildOption[$index]">
							<div class="rc-option-price rc-header" ng-repeat="priceOption in option.items track by $index">
								<span class="rc-option-price-name">
									<input type="text" class="rc-input half-input" placeholder="Name (can be blank)" ng-model="priceOption.name">
								</span>
								<span class="rc-option-price-value">
									<input type="number" class="rc-input half-input" placeholder="Price" ng-model="priceOption.price" step="0.01">
								</span>
								<span class="currency">
									<span class="glyphicon glyphicon-euro" aria-hidden="true"></span>
								</span>
								<span class="rc-move">
									<span class="glyphicon glyphicon-triangle-top rc-up rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('up', option, $index)" ng-class="{'disabled': $first}"></span>
									<span class="glyphicon glyphicon-triangle-bottom rc-down rc-row-btn" aria-hidden="true" ng-click="$ctrl.move('down', option, $index)" ng-class="{'disabled': $last}"></span>
								</span>
								<span class="glyphicon glyphicon-remove rc-delete rc-row-btn" aria-hidden="true" ng-click="$ctrl.removeRow(option, $index)"></span>
							</div>
							<div class="add-row">
								<button class="btn rc-button btn-sm" ng-click="$ctrl.addRow(option, 'priceOption')">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
									Price Option
								</button>
							</div>
						</div> <!-- rc-option-pricess -->
					</div>
					<div class="add-row">
						<button class="btn rc-button btn-sm" ng-click="$ctrl.addRow(position, 'default')">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Option
						</button>
					</div>
				</div> <!-- rc-options -->
			</div>
			<div class="add-row">
				<button class="btn rc-button btn-sm" ng-click="$ctrl.addRow(category, 'default')">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					Position
				</button>
			</div>
		</div> <!-- rc-positions -->
	</div>
	<div class="add-row">
		<button class="btn rc-button btn-sm" ng-click="$ctrl.addRow($ctrl.menu, 'default')">
			<span class="glyphicon glyphicon-plus" aria-name="Add"></span>
			Category
		</button>
	</div>
</form>
