body {
	background-color: #E9E3E5;
	color: #2C312D;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

a, button {
	font-family: 'Raleway', sans-serif;
}

/*Disable number increments*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
    -moz-appearance:textfield;
}

.legend {
	text-align: right;
	margin: 10px 0;
	font-size: 13px;
}

.output {
	font-family: courier;
	font-size: 12px;
	width: 100%;
	height: 100px;
	border: 1px solid #ccc;
	background-color: rgba(255,255,255,0.2);
}

.main-buttons {
	text-align: center;
	margin: 20px 0;
}

.glyphicon {
	font-size: 0.85em;
	cursor: pointer;
}

.rc-title {
	padding-top: 10px;
	padding-bottom: 15px;
	background-color: #479B8B;
	color: #fff;
}

.rc-title h1 {
	font-family: 'Berkshire Swash', cursive;
	font-size: 45px;
	display: inline-block;
}

.rc-title h1 .subtitle {
	font-family: 'Raleway', sans-serif;
	font-size: 13px;
	text-align: right;
}

.rc-name {
	padding: 0 10px;
}

.rc-input-container {
	display: inline-block;
}

.rc-row-btn {
	border-radius: 2px;
	opacity: 0.2;
}

.rc-row-btn:active {
	color: black;
	background-color: rgba(0,0,0,0.1);
}

.rc-toggle,
.rc-delete,
.rc-move,
.rc-info {
	display: inline-block;
	position: absolute;
	top: 6px;
	height: 20px;
}

.rc-toggle,
.rc-delete,
.rc-more {
	width: 20px;
	padding: 3px;
}

.rc-delete {
	right: 5px;
}

.rc-info {
	right: 27px;
}

.rc-info .checkbox {
	margin: 0;
	padding: 0;
	display: inline-block;
	font-size: 12px;
	line-height: 20px;
	margin-right: 5px; 
}

.rc-info .checkbox label {
	font-weight: bold;
	color: #555;
}

.rc-info .checkbox input {
	margin-left: -15px;
	border-color: #555;
	background-color: #aaa;
}

.rc-move {
	right: 28px;
	text-align: right;
	width: 45px;
}

.rc-option-name + .rc-move {
	right: 194px;
}

.rc-up,
.rc-down {
	width: 20px;
	padding: 3px;
	display: inline-block;
}

.rc-up.disabled,
.rc-down.disabled {
	color: #bbb;
	pointer-events: none;
	display: none;
}

.rc-input-container {
	padding-left: 22px;
	padding-right: 70px;
	width: 100%;
}

.rc-option-name {
	padding-right: 233px;
}

.rc-input {
	background: transparent;
	border: none;
    border-bottom: 1px solid transparent;
    width: 100%;
    padding: 0px 3px;
}

.rc-input:focus {
	border-bottom: 1px solid #479B8B
}

.rc-option-price-name .rc-input {
	width: 45%;
}

.rc-option-price-value .rc-input {
	width: 55px;
	text-align: right;
}


.rc-header {
	padding: 4px 10px;
	position: relative;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 2px 0;
}

.add-row {
	padding: 5px 0;
	margin-left: 15px;
	border-top: 1px dotted #d0d0d0;
}

.rc-button {
	background-color: #d6d6d6;
	border: 1px solid #bbb;
	opacity: 0.5;
}

.rc-button:hover {
	background-color: #ccc;
	opacity: 0.99;
}

.rc-row h1,
.rc-row h2,
.rc-row h3,
.rc-row h4 {
	margin: 0;
}

.rc-positions,
.rc-options {
	margin-left: 30px;
}

.rc-option-prices {
	margin-left: 50px;
}

.rc-header:hover {
	background-color: #d6d6d6;
}

.rc-header:hover .rc-row-btn {
	opacity: 0.7;
}


.currency {
	font-size: 14px;
	color: #555;
	position: relative;
	left: -5px;
}